 <!-- start footer -->
 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 border-e-dashed">
                <a href="layout-one-1.html">
                    <img src="images/logo-light.png" alt="" height="65" />
                </a>
                <p class="my-4">My goal is to always build products that solves what my clients need while I'm getting constantly learn & discover new things.
                </p>
                <ul class="list-unstyled footer-social mb-0 mt-sm-0 mt-3">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/hengratanak.dev"> <i class="icon-xs" data-feather="facebook"></i> </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/heng_ratanak"> <i class="icon-xs" data-feather="twitter"></i> </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/icecyber"> <i class="icon-xs" data-feather="github"></i> </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/firmax3kh/"> <i class="icon-xs" data-feather="instagram"></i> </a>
                    </li>
                </ul>
            </div><!-- end col -->
            <div class="col-lg-6 offset-lg-1">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="text-footer mb-4 mt-sm-0 mt-5">Company</h6>
                        <ul class="list-unstyled footer-list">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">services</a></li>
                            
                        </ul>
                    </div><!-- end col -->
                    <div class="col-md-4">
                        <h6 class="text-footer mb-4 mt-sm-0 mt-4">Information</h6>
                        <ul class="list-unstyled footer-list">
                            <li><a href="https://drive.google.com/file/d/1AubMIaIBG5jKvqfot_dpc0Ot5vrYBVHE/view?usp=sharing" target="_blank">Resume</a></li>
                            <li><a href="#projects">Projects</a></li>                                    
                            
                        </ul>
                    </div><!-- end col -->
                    <div class="col-md-4">
                        <h6 class="text-footer mb-4 mt-sm-0 mt-4">More info</h6>
                        <ul class="list-unstyled footer-list">
                            <li><a href="https://t.me/hengratanak">Direct Message</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->

<!-- start footer alter -->
<div class="footer-alt">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p> &copy; <script>
                    document.write(new Date().getFullYear())
                </script> Heng Ratanak. Created with <i class="las la-heart text-danger"></i> by Bondom-IT</p>
            </div>
            <div class="col-sm-6 text-sm-end">
                <ul class="list-inline mb-0">
                </ul>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end footer alter -->

<!-- Style switcher -->
<div id="style-switcher" onclick="toggleSwitcher()">
    <div>
        <h3 class="fw-medium mb-0">Select Your Choice</h3>
        <hr class="hr-dashed my-3">
        <ul class="pattern">
            <li>
                <a class="color1" href="javascript: void(0);" onclick="setColor('default')"></a>
            </li>
            <li>
                <a class="color2" href="javascript: void(0);" onclick="setColor('info')"></a>
            </li>
            <li>
                <a class="color3" href="javascript: void(0);" onclick="setColor('warning')"></a>
            </li>
            <li>
                <a class="color4" href="javascript: void(0);" onclick="setColor('orange')"></a>
            </li>
            <li>
                <a class="color5" href="javascript: void(0);" onclick="setColor('purple')"></a>
            </li>
            <li>
                <a class="color6" href="javascript: void(0);" onclick="setColor('success')"></a>
            </li>
        </ul>
    </div>
    <!-- <div class="bottom">
        <a href="javascript: void(0);" class="settings rounded-end"><i class="las la-paint-brush fs-22"></i></a>
    </div> -->
</div>
<!-- end Style switcher -->

<script src="js/bootstrap.bundle.min.js"></script>

<!-- feather icon -->
<script src="js/feather.js"></script>
<script src="js/shuffle.min.js"></script>
<script src="js/projects.init.js"></script>
<script src="js/text-roted.js"></script>
<script src="js/video.init.js"></script>

<script src="js/app.js"></script>

</body>
</html>