<%- include('../partials/header') -%> 
 
 <!-- start hero -->
 <section class="hero-one hero-video position-relative" id="home"  style="background-image: url(images/personal/main-bg.png); background-size: cover; background-position: center center;">
    <div class="bg-overlay"></div>
    <div id="youtubeEmbed" class="hero_video" data-video-id="LBNDfxjEYlA"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center">                    
            
            <div class="col-lg-7 text-center px-0 px-xl-4 mt-5 mt-lg-0 pt-5 pt-lg-0">
                <h5 class="d-inline-block py-1 px-3 rounded text-muted font-secondary">Hi, I'm Heng Ratanak</h5>
                <h1 class="hero-title mb-4 font-secondary fo">I'm a freelance 
                    <div class="position-relative d-inline-block" style="margin-bottom: -20px;" data-delay="2200" data-words>
                        &nbsp;
                        <span class="text-anim-items">
                            <span class="text-anim-item px-2"><span>React</span></span>
                            <span class="text-anim-item px-2"><span>JS</span></span>
                            <span class="text-anim-item px-2"><span>Express</span></span>
                            <span class="text-anim-item px-2"><span>Laravel</span></span>
                        </span>
                        <span class="anim-line bg-orange"></span>
                    </div> 
                    Developer
                </h1>   
                <span class="wrap"></span>                     
                <div class="mb-5 mb-lg-0">                           
                    <div class="d-inline-block">
                        <a href="https://t.me/hengratanak" target="_blank" class="btn btn-primary">Direct Message</a>
                    </div>
                </div>
            </div><!--end col-->   
            <div class="col-lg-5  mx-auto mt-5"> 
                <img src="images/personal/1.png" alt="" class="img-fluid ml-lg-5">
            </div><!--end col-->                
        </div><!--end row-->             
    </div><!-- end container -->
</section>
<!-- end hero -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- start about -->
<section class="section" id="about">
    <div class="container">
        <div class="row align-items-center">                
            <div class="col-lg-6 align-self-center">
                <h5 class="fs-24 text-dark fw-medium"><mark>Personal Details</mark></h5>       
                <h4 class="fw-normal lh-base text-gray-700 mb-4 fs-20">Hello! I'm Heng Ratanak , a web developer  from the Kingdom of Cambodia.
                    I’m very passionate about web development. I love seeing new challenges, getting to solve one problem at a time, and sharing my thoughts. My goal is to always build products that solves what my clients need while I'm getting constantly learn & discover new things.                    
                </h4>
                <div class="social">
                    <a href="https://github.com/icecyber">
                        <i class="lab la-github github me-1"></i>
                    </a>
                    <a href="https://twitter.com/heng_ratanak">
                        <i class="lab la-twitter twitter me-1"></i>
                    </a>
                    <a href="https://www.facebook.com/hengratanak.dev">
                        <i class="lab la-facebook facebook me-1"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/hengratanak/">
                        <i class="lab la-linkedin-in linkedin me-1"></i>
                    </a>
                </div>
            </div><!--end col--> 
            <div class="col-lg-5 ms-auto align-self-center">
                <div class="mb-5 mb-lg-0">
                    <p class="mb-2">
                        <span class="personal-detail-title">Date of birth</span> 
                        <span class="personal-detail-info">28 October 1989</span>
                    </p>
                    <p class="mb-2">
                        <span class="personal-detail-title">Spoken Langages</span> 
                        <span class="personal-detail-info">Khmer - English</span>
                    </p>
                    <p class="mb-2">
                        <span class="personal-detail-title">Nationality</span> 
                        <span class="personal-detail-info">Cambodian</span>
                    </p>
                    <p class="mb-2">
                        <span class="personal-detail-title">Interest</span> 
                        <span class="personal-detail-info">Music, Movies, Journey, Crypto</span>
                    </p>
                </div>
            </div><!--end col-->
            <div class="col-12 mt-5">
                <div class="d-flex flex-wrap justify-content-center  mt-4 mt-md-5">
                    <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                <img src="images/logos/nodejs-icon.svg" alt="" class="" height="34">
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-0 fw-medium text-gray-700">Express Js</h6>
                                <p class="text-muted mb-0 fs-12">1 Year Experience</p>
                            </div>
                        </div>                           
                    </div><!--/div-->
                    <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                <img src="images/logos/Angular.svg" alt="" class="" height="34">
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-0 fw-medium text-gray-700">Angular</h6>
                                <p class="text-muted mb-0 fs-12">1 Year Experience</p>
                            </div>
                        </div>                           
                    </div><!--/div-->
                    <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                <img src="images/logos/bootstrap.svg" alt="" class="" height="34">
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-0 fw-medium text-gray-700">Bootstrap</h6>
                                <p class="text-muted mb-0 fs-12">3 Year Experience</p>
                            </div>
                        </div>                           
                    </div><!--/div-->
                    <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                <img src="images/logos/vue.svg" alt="" class="" height="34">
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-0 fw-medium text-gray-700">Vue</h6>
                                <p class="text-muted mb-0 fs-12">2 Year Experience</p>
                            </div>
                        </div>                           
                    </div><!--/div-->
                    <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                <img src="images/logos/react.svg" alt="" class="" height="34">
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-0 fw-medium text-gray-700">React</h6>
                                <p class="text-muted mb-0 fs-12">8 Months Experience</p>
                            </div>
                        </div>                           
                    </div><!--/div-->
                    <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                <img src="images/logos/mongodb.svg" alt="" class="" height="34">
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-0 fw-medium text-gray-700">Mongodb</h6>
                                <p class="text-muted mb-0 fs-12">3 Months Experience</p>
                            </div>
                        </div>                           
                    </div><!--/div-->
                    <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                <img src="images/logos/laravel.svg" alt="" class="" height="34">
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-0 fw-medium text-gray-700">Laravel</h6>
                                <p class="text-muted mb-0 fs-12">1 Year Experience</p>
                            </div>
                        </div>                           
                    </div><!--/div-->
                    <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                                <img src="images/logos/nodejs-icon.svg" alt="" class="" height="34">
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-0 fw-medium text-gray-700">Node.js</h6>
                                <p class="text-muted mb-0 fs-12">10 Months Experience</p>
                            </div>
                        </div>                           
                    </div><!--/div-->
                </div><!-- End div -->
            </div><!-- End Col -->
        </div><!--end row--> 
    </div><!-- end container -->
</section>
<!-- end about -->
<!-- start services -->
<section class="section bg-gradient-light-white" id="services">
    <div class="container">                
        <div class="row justify-content-center mb-4">
            <div class="col-12 col-md-10 col-lg-7 text-center">
                <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Services</span>
                <h2 class="fs-2 fw-medium lh-1 text-dark my-3">Our Services</h2>
                <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
                    We craft digital, graphic and dimensional thinking, to create category leading brand experiences that have meaning .
                </p>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-4 m-2">
                        <div class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl  rounded">
                            <i data-feather="layers" class="align-self-center svg-orange icon-md"></i>  
                        </div>
                        <h5 class="text-dark fs-22 fw-medium my-4">Web Development</h5>
                        <p class="text-muted pb-4">Push your business to the world by created the best website for your business.</p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded shadow  border-0">
                    <div class="card-body p-4 m-2">
                        <div class="bg-soft-alt-info d-flex justify-content-center align-items-center thumb-xl  rounded">
                            <i data-feather="dollar-sign" class="align-self-center svg-info icon-md"></i>  
                        </div>
                        <h5 class="text-dark fs-22 fw-medium my-4">Mobile App Development</h5>
                        <p class="text-muted pb-4">We have a ton of experiences with mobile app development. fast & acceptable price.</p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded shadow  border-0">
                    <div class="card-body p-4 m-2">
                        <div class="bg-soft-alt-success d-flex justify-content-center align-items-center thumb-xl  rounded">
                            <i data-feather="check-square" class="align-self-center svg-success icon-md"></i>  
                        </div>
                        <h5 class="text-dark fs-22 fw-medium my-4">Digital Marketing</h5>
                        <p class="text-muted pb-4">We are expert on graphic design , product Shooting , video edit , we have many client on hands.</p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end services -->

<div class="position-relative"> 
    <div class="shape overflow-hidden text-light"> 
        <svg viewBox="0 0 2880 150" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M110 105L2160 0H2880V150H0V105H110Z" fill="currentColor"></path> </svg>
    </div>
</div>
<!-- start projects -->
<section class="section" id="projects">
    <div class="container">                
        <div class="row justify-content-center mb-4">
            <div class="col-12 col-md-10 col-lg-7 text-center">
                <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Work</span>
                <h2 class="fs-2 fw-medium lh-1 text-dark my-3">My Projects</h2>
                <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
                    We craft digital, graphic and dimensional thinking, to create category leading brand experiences that have meaning .
                </p>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">                    
            <div class="col-12 filters-group-wrap">
                <div class="filters-group mb-5">                            
                    <ul class="mb-0 list-unstyled filter-options filter-tab">
                        <li class="list-inline-item position-relative text-dark active" data-group="all">All</li>
                        <li class="list-inline-item position-relative text-dark" data-group="video">Videos</li>
                        <li class="list-inline-item position-relative text-dark" data-group="ux">Ux-Ui</li>
                        <li class="list-inline-item position-relative text-dark" data-group="vue">Vue</li>
                        <li class="list-inline-item position-relative text-dark" data-group="bootstrap">Bootstrap</li>
                        <li class="list-inline-item position-relative text-dark" data-group="app">Mobile App</li>
                    </ul>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row d-flex  g-1 justify-content-center" id="grid">
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["video"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="text-center bg-soft-alt-danger rounded">
                        <img src="images/personal/sunflower.jpg" alt="sunflower" class="img-fluid rounded">
                    </div>
                    <div class="card-body p-4 m-2">
                        <h5 class="text-dark fs-18 fw-medium m-0">Sunflower Body Lotion</h5>
                        <p class="text-muted mb-0 fs-13">https://youtu.be/9x0YyCh5CCc <a href="https://youtu.be/9x0YyCh5CCc" target="_blank"><i class="ti ti-external-link fs-18 text-primary"></i></a></p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["video"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="text-center bg-soft-alt-danger rounded">
                        <img src="images/personal/miss_lady_care_cleansing.JPG" alt="miss_lady_care_cleansing" class="img-fluid rounded">
                    </div>
                    <div class="card-body p-4 m-2">
                        <h5 class="text-dark fs-18 fw-medium m-0">Miss Brand Care Cleansing</h5>
                        <p class="text-muted mb-0 fs-13">https://youtu.be/WpOh_kT22n8 <a href="https://youtu.be/WpOh_kT22n8" target="_blank"><i class="ti ti-external-link fs-18 text-primary"></i></a></p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["video"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="text-center bg-soft-alt-danger rounded">
                        <img src="images/personal/superwhite.jpg" alt="superwhite" class="img-fluid rounded">
                    </div>
                    <div class="card-body p-4 m-2">
                        <h5 class="text-dark fs-18 fw-medium m-0">Superwhite Body Lotion</h5>
                        <p class="text-muted mb-0 fs-13">https://youtu.be/C7qTPWK_xWY <a href="https://youtu.be/C7qTPWK_xWY" target="_blank"><i class="ti ti-external-link fs-18 text-primary"></i></a></p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["vue", "bootstrap" ,"ux"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="text-center bg-soft-alt-danger rounded">
                        <img src="images/personal/chanfix.jpg" alt="chanfix" class="img-fluid rounded">
                    </div>
                    <div class="card-body p-4 m-2">
                        <h5 class="text-dark fs-18 fw-medium m-0">Chanfix Computer</h5>
                        <p class="text-muted mb-0 fs-13">https://chanfixinc.com/ <a href="https://chanfixinc.com/"><i class="ti ti-external-link fs-18 text-primary"></i></a></p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->  
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["app", "mobile" ,"ux"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="text-center bg-soft-alt-danger rounded">
                        <img src="images/personal/cambodiapeace.jpg" alt="cambodia-peace" class="img-fluid rounded">
                    </div>
                    <div class="card-body p-4 m-2">
                        <h5 class="text-dark fs-18 fw-medium m-0">Cambodia Peace App</h5>
                        <p class="text-muted mb-0 fs-13">https://apps.apple.com... <a href="https://apps.apple.com/us/app/cambodia-peace/id1561531630"><i class="ti ti-external-link fs-18 text-primary"></i></a></p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col --> 
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["app", "mobile" ,"ux"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="text-center bg-soft-alt-danger rounded">
                        <img src="images/personal/th4k.jpg" alt="cambodia-peace" class="img-fluid rounded">
                    </div>
                    <div class="card-body p-4 m-2">
                        <h5 class="text-dark fs-18 fw-medium m-0">TH4K App</h5>
                        <p class="text-muted mb-0 fs-13">https://play.google.com/store/apps/... <a href="https://play.google.com/store/apps/details?id=com.asiasolution.th4k&hl=en_US&gl=US"><i class="ti ti-external-link fs-18 text-primary"></i></a></p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->                   
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end projects -->
<div class="position-relative">
    <div class="shape overflow-hidden bg-footer">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<%- include('../partials/footer') -%>